body {
	background-color: grey;
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
	background-color: white;
	width: 900px;
	margin: 30px auto;
	text-align: center;
	padding: 30px;
	border-radius: 10px;
}
p {
	text-align: justify;
}

button {
	width: 180px;
}
textarea {
	width: 100%;
}
